default:

  base_dir: /home/dnlennon/Workspace/repos/dataflow

  usethis:
    packages:
      - magrittr
      - rlang      
    
    import_from:
      - package: magrittr
        fun: "%>%"

    vignettes:
      - dataflow

  local_deps:
    - name: pkgette
      version: 0.0.1
      type: Imports
      url: file:///home/dnlennon/Workspace/repos/pkgette.git

  workflow_srcs:

